{% extends "!layout.html" %}
{% block rootrellink %}
  <li><a target="_blank" href="https://bitbucket.org/cfpython/cfunits-python/">cfunits-python</a> {{ release }}</li>
  {{ super() }}
{% endblock %}
